@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firacode/v7/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_D1sJV37Nv7g.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

body{
    padding: 0;
    margin:0;
    display: flex;
    flex-direction: column; 
    height: 100%;
    font-family: 'Fira Code', monospace !important;
  
  overflow-y: auto;
    
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #146650; 
  height: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #073b2e; 
}
.none{
  display: none !important;
}

nav{

  margin-top: 10%!important;
  margin-right: 1%!important;
  MARGIN-LEFT: 2%!important;

}
nav .fas{
  
  color:#2C468F ;
}
nav .fas:hover{
 transform: scale(1.5);
 padding-top: 8%;
 padding-bottom: 8%;
}
nav ul{
  padding: inherit;
  PADDING-RIGHT: 25%;
}
.wrap{
    width: 100%;
  HEIGHT : 100%;
  
    position: relative ;
}
.bckgd_div{
  background:linear-gradient(45deg, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.4) 8%,rgba(255,255,255,0.4) 85%,rgba(255,255,255,0.4) 95%);
}
/*Background welcolme page*/
.blur_bckgnd{
    height:100%;
    width: 100%;
    background-image:url("../img/backgroungWecolmeWrap.jpg");
    filter: hue-rotate(61deg) grayscale(80%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: -1;
}
.content_bckgnd{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.margin_bottom{
  margin-bottom: auto;
}
.margin_top{
  margin-top: auto;
}
/*animation css */
.name_animated h2 {
    padding-top: 0;
    font-size: 3em!important;
    font-weight: bold!important;
    font-family: 'Fira Code', monospace;
    position: relative;
    animation-name: rightoleft ;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: backwards; /*fait que l'animation commence à la première keyframe*/

    
}
@keyframes rightoleft {
  0%   { transform: translateX(-300%);}
  100% { transform: translateX(0);}
}

.animated_description_nav{
  color:black;
  animation-name: appears;
  animation-duration: 4s;
  animation-fill-mode: backwards;
}
@keyframes appears{

    0% { opacity: 0; }
    80% { opacity: 0; }
    100% { opacity: 1; }
}

h2{
  font-family: 'Fira Code', monospace;
  font-size: 3em;
}
/* slider test*/
.slide_size{
    width: 50%;

}
/* skill page css */
.skill_page{
  
  height: 100vh;
  width: 100%;
  justify-content: center;
  display: flex;     
    
}
.skill_language{
  display: flex;
  justify-content: space-evenly;
}
.half_cut{
  padding: 2% 1% 1% 2%;
  width: 50%;
  display: flex;
  flex-direction: column;
}
/* skill side */
.animated_skill{
  height: 10%;
  font-weight: bold!important;
  background: #348077;

 
}
.progress_bar_skill{
  height: 60%;
  border: solid black 2px;
  margin: 0 0 2% 0;
  border-top: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}
.sql{
  margin-left:2%;
}
.other_skill{
  height: 30%;
  border: solid black 2px;
}
/*project side */
h3{
  font-weight: bold!important;
}
.animated_project{
height: 10%;
font-weight: bold!important;
background: #348077;

}
.project{
  height: 90%;
  border: solid black 2px;
  display: flex;
  flex-wrap: wrap;
  border-top: none;
}
.project_img_bloc{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  

}
.project_description_bloc{
  width:50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.project_description{
  height: 50%;
  margin: 5%;
  border: solid black 2px;

}
.special_p{
  font-size: 0.8em;
  font-weight: bold;
  text-align: justify;
  margin-bottom: 0!important;
}


.yellow{
  background-color: yellow;
}
.brown{
  background-color: brown;
}
.project_img{
 height: 50%;
 margin-bottom: 5%;
 margin-top: 5%;
}
/*education page */
.animated_education{
  height: 10%;
  font-weight: bold!important;
  background: #348077;
}
.education_page
{ 
  height: 100%;
  width: 100%;
  justify-content: center;
  display: flex;        
}
.button_education{
  display:flex;
  flex-direction: column;
 
  
}
.margin_before{
  margin: 5% 0% 10% 0%!important;
}
.margin_after{
  margin-top: 5%!important;
}
.about_me{
  width: 100%;
 
  margin-bottom: 2%!important;
  border: solid black 2px;
  margin: auto;
  padding: 0.5%;
 
}
.motivation{
  width: 100%;
  flex-grow: 3;
  margin-bottom: 15%!important;
  border: solid black 2px;
  margin: auto;
  padding: 2%;
}
/*Contact page */

.contact_page {
  
    width: 100%;
    justify-content: center;
    display: flex;
    
}
form{
  width: 60%;
  height: auto;
  border: solid black 2px;
  margin:2% 21% 4% 17%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
form button{
  margin: 2% 10%;
}

/*footer for all */
.test_footer{
  position: relative;
  bottom: 0;
  background-color:#348077;
  width: 100%;
  height: auto;
  padding: 1%;
  display: flex;
  justify-content: center;
  align-content: space-between;

}
li{
  list-style: none;
  
}
.fas{
  color:#2C468F;
  margin:2%;
  -webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: black;
}
.fab{
  color: #2C468F;
  margin:2%;
  -webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: black;
  
}
.jello:hover{
  
  animation: jello-horizontal 0.9s infinite both;
  }

a{
    margin-right: 2%;
  }


@keyframes jello-horizontal {
  0% {
    
            transform: scale3d(1, 1, 1);
  }
  30% {
    
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
  
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
   
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    
            transform: scale3d(1, 1, 1);
  }
}

/* progress bar 
#center {
   width: 600px;
   height: 40px;

   background: rgba(0,0,0,1);
  border: 2px solid rgba(255,255,255,1);
  border-radius: 5px;
  box-shadow: 0px 0px 10px 5px rgba(255,255,255,0.2);
}

#main {
  width: 200px;
   height: 40px;
  background: #92C81A;
  float: left;
  animation: stretch 5s  linear;
}

.row {
  height: 10px;
  width: 400px;
  float: left;
  display: inherit;
 /* animation: squeeze 5s infinite linear;*/
}

.sq {
  height: 10px;
  width: 10px;
  float: left;
}

#sq-2 { background: #4A672F;}
#sq-3 { background: #1D2019;}
#sq-6 { background: #2C341C;}
#sq-1, #sq-5, #sq-9 {
  background: #74B215;
}
#sq-4, #sq-8, #sq-12 {
  background: #7BC415;
}

#sq-7, #sq-10, #sq-11 {
  background: #92C81A;
}

@keyframes stretch {
	0% {width: 200px;}
  25% {width: 280px;}
  50% {width: 360px;}
  75% {width: 240px;}
	100% {width: 200px;}
}
@keyframes squeeze {
	0% {width: 400px;}
  25% {width: 320px;}
  50% {width: 140px;}
  75% {width: 360px;}
	100% {width: 400px;}
}